.recent-job{
    background: #26ae61;
    border-radius: 4px;
    padding: 8px 4px;
    max-width: 260px;
    border: 0;
    margin: 0px auto 40px auto;
}
.recent-job-title{
    color: #26ae61;
    cursor: default;
    background-color: #e8ebef;
    border: none;
    border-bottom-color: transparent;
    text-align: center;
    padding: 8px 4px;
    font-size: 20px;
}